<% layout("/layouts/boilerplate") %>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <h3 class="mb-4">Edit your Listing</h3>
        <form
          method="POST"
          action="/listings/<%= listing._id %>?_method=PUT"
          class="needs-validation"
          novalidate
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              name="listing[title]"
              value="<%= listing.title %>"
              type="text"
              class="form-control"
              id="title"
              required
            />
            <div class="invalid-feedback">Please provide a title.</div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              name="listing[description]"
              class="form-control"
              id="description"
              rows="4"
              required
            >
<%= listing.description %></textarea
            >
            <div class="invalid-feedback">Please provide a description.</div>
          </div>

          <div class="mb-3">
            Original Listing Image <br />
            <img src="<%= originalImageUrl%>" />
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input name="image" type="file" class="form-control" id="image" />
            <div class="form-text">
              Please use a direct link to an image file (ending in .jpg, .png,
              .gif, etc.), not a webpage URL.
            </div>
            <div class="invalid-feedback">
              Please provide a valid image URL.
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="price" class="form-label">Price</label>
              <input
                name="listing[price]"
                value="<%= listing.price %>"
                type="number"
                class="form-control"
                id="price"
                min="0"
                required
              />
              <div class="invalid-feedback">Please provide a valid price.</div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="country" class="form-label">Country</label>
              <input
                name="listing[country]"
                value="<%= listing.country %>"
                type="text"
                class="form-control"
                id="country"
                required
              />
              <div class="invalid-feedback">Please provide a country.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              name="listing[location]"
              value="<%= listing.location %>"
              type="text"
              class="form-control"
              id="location"
              required
            />
            <div class="invalid-feedback">Please provide a location.</div>
          </div>
          <div class="d-grid">
            <div class="text-center" style="margin-bottom: 30px"></div>
            <button type="submit" class="btn edit-btn col-2">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
